.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 371px 0 370px;
}

.u-section-1 .u-text-3 {
  width: 826px;
  margin: 0 157px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 306px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 57px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 234px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 176px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 111px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 731px;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.6);
  width: 1044px;
  height: 671px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 218px;
  }
}